.h1  {font-size:100%;width:90%; font-family: Tahoma,sans-serif}
.b2  {font-size:100%;width:100%; font-family: Tahoma,sans-serif}
.b3  {font-size:60%;width:100%; font-family: Tahoma,sans-serif}
.b4  {font-size:80%;width:100%; font-family: Tahoma,sans-serif}
.b5  {font-size:80%;width:35%;  font-family: Tahoma,sans-serif}
.t1  {font-size:100%;           font-family: Tahoma,sans-serif}
.st1 {font-size:50%;  color:red;font-family: Tahoma,sans-serif}
.mt1 {font-size:80%;            font-family: Tahoma,sans-serif}
.tb1 {font-size:100%;width:80%; font-family: Tahoma,sans-serif}
.tb2 {width:100%;height:50%}
.r14 {font-size:100%;width:50%; font-family: Tahoma,sans-serif}
.bb1  {font-size:150%;           font-family: Tahoma, sans-serif}
.tb3 {width:50%;height:50%;}
.b6  {font-size:50%;          font-family: Tahoma,sans-serif}
.b7  {font-size:70%;           font-family: Tahoma,sans-serif}
.tb4 {width:100%}
